.banner {
  height: auto;
  background-size: cover;
  background-position: center;
  padding: 200px;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0px;
}

.banner p {
  color: lightgray;
  font-size: 14px;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 25px;
  margin-top: 0px;
}

.banner a {
  color: white;
  padding: 10px 15px;
  background-color: black;
  border-radius: 20px;
  font-weight: bold;
}
