.card-container {
  padding-top: 15px;
  background-color: black;
  margin: 0px;
  color: white;
}

h2 {
  text-align: center;
  margin-top: 0px;
  padding-bottom: 10px;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card i {
  font-size: 48px;
  color: white;
}

.card {
  width: 200px;
  text-align: center;
}

.card p {
  font-size: 14px;
}
